<div class="container">
  <h2 class="page-header">New Post</h2>
    <button id="mrg_btm" class="ui big labeled icon button" onclick="RedirectToArticles()">
      <i class="arrow circle outline left icon"></i>Back</button>

<%= form_for(:article, :url => {:controller => 'articles', :action => 'new'}) do |f| %>
	<div class="form-group">
    <label>Title <label id="lbl_red">*</label></label>
		<br>
		<%= f.text_field :title, placeholder: "Enter your title...", required: true, class:'form-control',onkeydown:'hideError()',onpaste:'hideError()' %>
    <% if @article != nil && @article.errors.any? %>
        <div class="ui pointing red basic label">
          <% for message_error in @article.errors.full_messages %>
              <%= message_error %>
          <% end %>
        </div>
    <% end %>
  </div>
	<div class="form-group">
    <%= f.label :text %><br/>
    <%= f.text_area :text, class:'redactor form-control', value: if $text
                                                                    $text.html_safe; end, placeholder: "Enter text...." %>
    <% if $text
       $text = nil; end %>
  </div>
  <div class="form-group">
    <%= f.label :Add_Attachment %>
    <br>
    <%= f.file_field :attach_file, class:'filestyle form-control',data: {buttonBefore: "true"} %>
  </div>


  <div class="form-group">
        <label for="select_topic">Topic</label>
        <select  id="select_topic" name="article[topic_name]" class="demo-default" placeholder="Select a topic...">
          <option value="">Select a topic...</option>
          <% if $topic %>
              <option value="<%= $topic %>" selected ><%= $topic %></option> <%end%>
          <% Topic.all.each do |topic| %>
            <option value="<%= topic.topic_name%>"><%= topic.topic_name %></option>
          <% end %>
        </select>
  </div>
  <div class="form-group">
        <label for="input_tags">Tags</label>
        <input type="text" id="input_tags" name="article[Tags]" value="<%= if $tags
                                                                            $tags
                                                                           end%>" class="demo-default">
  </div>

	<div class="form-group">
      <button type="submit" name="commit"  class="huge ui positive icon button">
        <i class="save icon"></i>Save</button>
	</div>
    <!--clear data            -->
    <%  $topic = nil;
        $text = nil;
        $tags = nil;  %>
	<% end %>
</div>

<script>

  function hideError() {
      document.getElementsByClassName('ui pointing red basic label')[0].style.visibility='hidden';
      document.getElementsByClassName('ui pointing red basic label')[0].style.margin='0';
  }

  function RedirectToArticles() {
    window.location = "<%= articles_url %>"
  }



  $('#input_tags').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });

  $('#select_topic').selectize({
    create: true,
    sortField: {
      field: 'text',
      direction: 'asc'
    },
    dropdownParent: 'body'
  });
</script>