<div class="container">
  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer">
    <div class="row">
      <table align="center">
        <tr>
          <td><img align="center" src="/assets/favicon.png" alt="logo"></td>
          <td> <h1 align="center">Corner 4 Students</h1></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>Here you can find a community that will help you with your university topics since you will be able to post a question on anything in mind, as well as you can buy, sell offers and exchange books.</p>
        <a class="huge ui teal icon button" href=" <%= articles_url %>">Go to Forum</a></h2>
        <a class="huge ui teal icon button" href="<%= offers_url %>"?From=ads>Go to Ads</a>
      </div>
    </div>
  </header>
  <!-- Add a Grid Example about showing recent articles  -->
  <div id="grid" class="container-fluid bg-grey">
    <div class="row" >
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>Recent Articles</h2>
        <% articles = Article.order("created_at DESC").limit(4) %>
        <% if !articles.nil? %>
            <table width="100%">
              <% articles.each do |article| %>
                <tr>
                    <td>
                      <a href="<%= article_path(article.id)%>"><%= article.title %>  </a>
                    </td>
                    <td>
                      <h6 class="pull-right" >Posted <%= time_ago_in_words(article.created_at)%> ago</h6>
                    </td>
                </tr>
              <% end%>
            </table>
        <% end%>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h2>Recent Offers</h2>
        <% offers = Offer.order("created_at DESC").limit(4) %>
        <% if !offers.nil? %>
            <table width="100%">
              <% offers.each do |offer| %>
                  <tr>
                    <td>
                      <a href="<%= offer_path(offer.id) %>"><%= offer.title %>  </a>
                    </td>
                    <td>
                      <h6 class="pull-right" >Posted <%= time_ago_in_words(offer.created_at)%> ago</h6>
                    </td>
                  </tr>
              <% end%>
            </table>
        <% end%>
      </div>
    </div>
  </div>



  <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
      <div class="navbar-text pull-left">
        <p>© 2015 Repunit Prime</p>
      </div>
      <div class="navbar-text pull-right">
        <p>Find out more <%= link_to "About us", welcome_about_us_path %></p>
      </div>
    <!--<div class="navbar-text pull-right">-->
        <!--<a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>-->
        <!--<a href="#"><i class="fa fa-twitter fa-2x"></i></a>-->
        <!--<a href="#"><i class="fa fa-google-plus fa-2x"></i></a>-->
      <!--</div>-->
    </div>
  </div>

</div>