<div class="container">
  <h2 class="page-header">Offers</h2>
    <button class="ui labeled icon button" id="buttonWithMarginBtm"  onclick="RedirectToOffersNew()">
      <i class="add circle icon"></i>New Offer
    </button>

  <!-- Tabs -->
  <ul class="nav nav-tabs" id="tabs">
    <li class="active"><a href="#OffersForSale" data-toggle="tab">For Sale</a></li>
    <li><a id="tab2" href="#OffersForExchange" data-toggle="tab">For Exchange</a></li>
  </ul>
  <!-- Tabs -->

  <!-- Tab Content -->
  <div class="tab-content">

    <!-- Repo -->
    <div class="tab-pane active" id="OffersForSale">

      <h2 id="h1_margin_modified" >List of offers for sale</h2>

      <div class="row">
        <div class="col-lg-8 col-xs-8">
          <% @Offers.each do |offer| %>
                  <table width="100%">
                    <tr>
                      <td width="110px">
                        <% if offer.image_file_name.nil? %>
                            <%= link_to(image_tag('/No_Image.png', size: "100x100", class: "img-thumbnail"), offer) %>
                        <% else %>
                            <%= link_to(image_tag(offer.image, size: "100x100", :alt => "No Image", class: "img-thumbnail"), offer) %>
                        <% end %>
                      </td>
                      <td style="vertical-align: text-top;">
                        <p style="margin-top: 5px">
                          <strong><%=link_to(offer.title, offer) %></strong>
                        </p>
                        <p id="p_Modified_Teal">
                          <spanp>&#8364;  </spanp>
                          <% if offer.cost.nil? %>
                              0
                          <% else %>
                              <%= offer.cost %>
                          <% end %>
                        </p>
                        <div class="pull-right">
                          <% if !offer.tags.nil?%>
                              <% tags = offer.tags.split(',')  %>
                              <% tags.take(5).each do |tag| %>
                                  <a id="a_small" class="ui teal label"><%= tag %></a>
                              <% end %>
                          <% end %>
                          <% if tags.count > 5 %>
                              <a id="a_small" class="ui teal label">. . . </a>
                          <%end%>
                        </div>
                        <br/>
                        <br/>

                        <% if !current_user.nil? && current_user.id == offer.user.id %>
                            <div class="ui buttons">
                              <a href="<%= edit_offer_path(offer)%>"><button class="big ui button">
                                <i class="edit left icon"></i>Edit</button>
                              </a>
                              <div class="or"></div>
                              <button class="big ui button" data-toggle="modal" data-offer-id="<%= offer.id  %>" data-target="#myModal" ><i class="remove icon"></i>Delete</button>
                            </div>
                        <% else %>
                            <div class=" ui buttons">
                              <%= link_to "<button class='offer_details_button'><span>Details</span></button>".html_safe, offer %>
                            </div>
                        <% end %>

                        <h6 class="pull-right">Posted <%= time_ago_in_words(offer.created_at) %> ago by
                          <a href="<%= profile_path(offer.user_id) %>"><%= User.find_by(id: offer.user_id).name %></a></h6>

                      </td>
                    </tr>
                    <hr id="mgSmall">
                  </table>
          <%end%>
          <!--  pagination links like-->
          <%= will_paginate @Offers, renderer: BootstrapPagination::Rails %>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-lg-4 col-xs-4">
          <!-- Blog Search Well -->
          <div class="well">
            <h4>Offer Search</h4>
            <div class="input-group">
              <input type="text" class="form-control" name="search" id="search" onchange="HandleIcon()" onpaste="HandleIcon()" onkeyup="HandleIcon()" onkeydown="RedirectToOnClick()" value="<%= @srch%>" placeholder="Search Offers" />
              <span class="input-group-btn">
                              <button class="btn btn-default" type="input" id="commit" name="commit" onclick="RedirectToOffers()">
                                <span id="span_icon" class="<%= if(@srch.nil? || @srch.to_s.empty?)
                                                                  "glyphicon glyphicon-search"
                                                                else "glyphicon glyphicon-remove" end %>"></span>
                              </button>
                          </span>
            </div>
            <!-- /.input-group -->
          </div>
          <!-- Blog Categories Well -->
          <div class="well">
            <h4>Popular Tags</h4>
            <div class="ui horizontal list">
              <% tags = OfferTagForSale.order("count DESC").limit(10) %>
              <% if !tags.nil?%>
                  <% tags.each do |tag| %>
                      <div class="item">
                        <div class="ui teal tag labels">
                          <% if tag.name == @selected_tag %>
                              <a class="ui label" href="/offers">
                                <%= tag.name %>
                                <i class="delete icon"></i>
                              </a>
                          <%else %>
                              <a class="ui label" href="/offers?popular_tag=[<%= tag.name %>]&ComingFrom=Sale">
                                <%= tag.name %>
                                <i class="detail"><%= tag.count %></i>
                              </a>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="tab-pane" id="OffersForExchange">

      <h2 id="h1_margin_modified" >List of offers for exchange</h2>

      <div class="row">
        <div class="col-lg-8 col-xs-8">

          <% @OfferExchanges.each do |offer| %>

                  <table width="100%">
                    <tr>
                      <td width="110px">
                        <% if offer.image_file_name.nil? %>
                            <%= link_to(image_tag('/No_Image.png', size: "100x100", class: "img-thumbnail"), offer) %>
                        <% else %>
                            <%= link_to(image_tag(offer.image, size: "100x100", :alt => "No Image", class: "img-thumbnail"), offer) %>
                        <% end %>
                      </td>
                      <td style="vertical-align: text-top;">
                        <p style="margin-top: 5px">
                          <strong><%=link_to(offer.title, offer) %></strong>
                        </p>
                        <p>
                          <% if offer.bookexpected.empty?%>
                           Preferable book for exchange: <label id="p_Modified_Grey">&#45;&#45;&#45;&#45;</label>
                          <% else %>
                           Preferable book for exchange: <label id="p_Modified_TealExch"><%= offer.bookexpected %></label>
                          <% end %>
                        </p>
                        <div class="pull-right">
                          <% if !offer.tags.nil?%>
                              <% tags = offer.tags.split(',')  %>
                              <% tags.take(5).each do |tag| %>
                                  <a id="a_small" class="ui teal label"><%= tag %></a>
                              <% end %>
                          <% end %>
                          <% if tags.count > 5 %>
                              <a id="a_small" class="ui teal label">. . . </a>
                          <%end%>
                        </div>
                        <br/>
                        <br/>

                        <% if !current_user.nil? && current_user.id == offer.user.id %>
                            <div class="ui buttons">
                              <a href="<%= edit_offer_path(offer)%>"><button class="big ui button">
                                <i class="edit left icon"></i>Edit</button>
                              </a>
                              <div class="or"></div>
                              <button class="big ui button" data-toggle="modal" data-offer-id="<%= offer.id  %>" data-target="#myModal" ><i class="remove icon"></i>Delete</button>
                            </div>
                        <% else %>
                            <div class=" ui buttons">
                              <%= link_to "<button class='offer_details_button'><span>Details</span></button>".html_safe, offer %>
                            </div>
                        <% end %>

                        <h6 class="pull-right">Posted <%= time_ago_in_words(offer.created_at) %> ago by
                          <a href="<%= profile_path(offer.user_id) %>"><%= User.find_by(id: offer.user_id).name %></a></h6>

                      </td>
                    </tr>
                    <hr id="mgSmall">
                  </table>
              <%end%>
          <!--  pagination links like-->
          <%= will_paginate @OfferExchanges, renderer: BootstrapPagination::Rails %>
        </div>
        <!-- Blog Sidebar Widgets Column -->
        <div class="col-lg-4 col-xs-4">
          <!-- Blog Search Well -->
          <div class="well">
            <h4>Offer Search</h4>
            <div class="input-group">
              <input type="text" class="form-control" name="search1" id="search1" onchange="HandleIconExchange()" onpaste="HandleIconExchange()" onkeyup="HandleIconExchange()" onkeydown="RedirectToExchangeOnClick()" value="<%= @srch1%>" placeholder="Search Offers" />
              <span class="input-group-btn">
                              <button class="btn btn-default" type="input" id="commit1" name="commit1" onclick="RedirectToOffersExchange()">
                                <span id="span_icon1" class="<%= if(@srch1.nil? || @srch1.to_s.empty?)
                                                                  "glyphicon glyphicon-search"
                                                                else "glyphicon glyphicon-remove" end %>"></span>
                              </button>
                          </span>
            </div>
            <!-- /.input-group -->
          </div>
          <!-- Blog Categories Well -->
          <div class="well">
            <h4>Popular Tags</h4>
            <div class="ui horizontal list">
              <% tags = OfferTagForExchange.order("count DESC").limit(10) %>
              <% if !tags.nil?%>
                  <% tags.each do |tag| %>
                      <div class="item">
                        <div class="ui teal tag labels">
                          <% if tag.name == @selected_tag1 %>
                              <a class="ui label" href="/offers?ComingFrom=Exchange">
                                <%= tag.name %>
                                <i class="delete icon"></i>
                              </a>
                          <%else %>
                              <a class="ui label" href="/offers?popular_tag=[<%= tag.name %>]&ComingFrom=Exchange">
                                <%= tag.name %>
                                <i class="detail"><%= tag.count %></i>
                              </a>
                          <% end %>
                        </div>
                      </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>

    </div>
</div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Article</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the article?</p>
        </div>
        <div class="modal-footer">
          <a rel="nofollow" data-method="delete" href="<%= offers_path %>/ 0">
            <button class="big ui button"><i class="checkmark icon" ></i>Yes</button>
          </a>
          <button type="button" class="big ui button" data-dismiss="modal"><i class="remove icon"></i>No</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    function RedirectToOffersNew() {
      window.location = "<%= new_offer_url %>";
    }

    $( document ).ready(function() {
       <%if !@selected_tag1.nil? || !@ComingFromExchange.nil? %>
          $("#tab2").trigger("click"); //when you need in the function
       <% end%>

    });

    $('#myModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var offerId = button.data('offer-id') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-footer a').attr("href", "<%=offers_path %>/"+offerId);
    });


    function RedirectToOffers() {
      if(document.getElementById('span_icon').className == "glyphicon glyphicon-remove"){
        document.getElementById('search').value = "";
        document.getElementById('span_icon').className = "glyphicon glyphicon-search"
        window.location = "<%= offers_path %>";
      }
      else
        window.location = "<%= offers_path %>?search="+document.getElementById('search').value;
    }
    function RedirectToOnClick() {
      if (event.keyCode == 13)
        window.location = "<%= offers_path %>?search="+document.getElementById('search').value;
    }

    function RedirectToOffersExchange() {
      if(document.getElementById('span_icon1').className == "glyphicon glyphicon-remove"){
        document.getElementById('search1').value = "";
        document.getElementById('span_icon1').className = "glyphicon glyphicon-search"
        window.location = "<%= offers_path %>?ComingFrom=Exchange";
      }
      else
        window.location = "<%= offers_path %>?search="+document.getElementById('search1').value+"&ComingFrom=Exchange";
    }
    function RedirectToExchangeOnClick() {
      if (event.keyCode == 13)
        window.location = "<%= offers_path %>?search="+document.getElementById('search1').value+"&ComingFrom=Exchange";
    }

    function HandleIcon() {
      if(document.getElementById('search').value.toString().length > 0)
      {
        document.getElementById('span_icon').className = "glyphicon glyphicon-remove";
      }
      else
      {
        document.getElementById('span_icon').className = "glyphicon glyphicon-search"
      }
    }
    function HandleIconExchange() {
      if(document.getElementById('search1').value.toString().length > 0)
      {
        document.getElementById('span_icon1').className = "glyphicon glyphicon-remove";
      }
      else
      {
        document.getElementById('span_icon1').className = "glyphicon glyphicon-search"
      }
    }

  </script>

  </div>


