<div class="container">
  <h2 class="page-header">New Offer</h2>
  <button id="mrg_btm" class="ui big labeled icon button" onclick="RedirectToOffers()">
    <i class="arrow circle outline left icon"></i>Back</button>

  <%= form_for @offer , html: {multipart: true } do |f|%>
      <% if @offer.errors.any? %>
          <div class="alert alert-danger" id="error_explanation">
            <h2><%= pluralize(@offer.errors.count, "error") %> : </h2>

            <ul>
              <% @offer.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="form-group">
        <label>Title <label id="lbl_red">*</label></label>
        <%= f.text_field :title, class:'form-control', required: true %>
      </div>
      <div class="form-group">
        <%= f.label :Description %><br/>
        <textarea id="desc" name="offer[detail]" class='redactor form-control' rows="10" placeholder="Enter a description for your offer..."></textarea>
      </div>
      <div class="form-group">
        <%= f.label :Image %>
        <%= f.file_field :image, class:'filestyle form-control',data: {buttonBefore: "true"} %>
      </div>
      <br/>
      <div class="form-group">
        <label>Is the offer for Sale or Exchange?</label><br/>
        <%= f.radio_button :forSale, "sale" , :checked => true %>
        <%= f.label :Sale, id: 'normalTxt' %><br/>
        <%= f.radio_button :forSale, "exchange" %>
        <%= f.label :Exchange, id: 'normalTxt' %>
      </div>
      <div class=" form-group" id="cost">
        <label>Cost</label>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">€</span>
          <%= f.text_field :cost,id: 'costfld', class:'form-control',required: 'true', aria: {describedBy: "basic-addon1"},value:"0",type: "number",step:"0.01" %>
        </div>
      </div>
      <div class=" form-group" id="exch">
        <label>Which book would you like in return?</label>
        <%= f.text_field :bookexpected, class:'form-control' %>
      </div>
      <div class="form-group">
        <label for="input_tags">Tags</label>
        <input type="text" id="input_tags" name="offer[tags]" class="demo-default">
      </div>

      <div class="actions">
        <button type="submit" name="commit"  class="big ui positive labeled icon button">
          <i class="save icon"></i>Create Offer</button>
      </div>

  <% end %>

</div>




<script type="text/javascript">

  function RedirectToOffers() {
    window.location = "<%= offers_path %>"
  }


  $('#input_tags').selectize({
    delimiter: ',',
    persist: false,
    create: function(input) {
      return {
        value: input,
        text: input
      }
    }
  });


  $(document).ready(function(){

    $("#exch").hide();

    $("input:radio[name='offer[forSale]']").change(function(){

      if(this.value == 'exchange' && this.checked){
        $("#cost").hide();
        $("#costfld").prop("required", false);
        $("#exch").show();
      }else{
        $("#cost").show();
        $("#costfld").prop("required", true);
        $("#exch").hide();
      }

    });
  });

</script>